body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
aside{
    width: 20%;
    height: 500px;
    float:left ;
}
/* #one{
    background-image: url("aside.jpg");
} */
#details{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    width: 100%;
    height: auto;
}
#details2{
    color: aqua;
    animation: blinker 6s linear infinite;
    width: 75%;
    height: 100px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
#one{
    background-color: black;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 25px;
    font-weight: bold;
    font-variant: normal;
    color:white;
}
ul{
    background-image: none;
    color: brown;
}
li{
    font-size: 30px;
}
